<% if !user_signed_in? %> 

  <div class="jumbotron">
    <h1>Discover The Best National Parks</h1>
    <h3>Leave reviews of parks you've visited</h3> 
    <p><%= link_to "Sign Up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>

<% end %>
  <div class ="row">
    <% @parks.each do |park| %> 
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= link_to (image_tag park.image.url(:medium), class: 'image'), park %>
          </div>
        </div>
    <% end %>

  </div>